.table> :not(caption)>*>* {
  padding: 0.2rem 0.8rem !important;
}

th,
td {
  vertical-align: middle;
}

table {
  margin-bottom: 0 !important;

  thead {
    border-top: 1px solid #E3E3E3;

    th {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      vertical-align: middle;
      cursor: pointer;

      .heading {
        position: relative;
        display: inline-block;

        img {
          width: 14px;
        }

        .icon-up {
          margin-top: 0;
        }
      }
    }
  }

  .check {
    position: relative;
    top: 0;

  }

  .form-check-input {
    box-shadow: none !important;
    cursor: pointer;


    &:checked {
      background-color: $tertiary;
    }
  }

  tbody {
    tr {
      &:hover {
        td {
          background-color: #F2F6FC;
        }

        .action_btn {
          background-color: #F2F6FC;
          display: block;
        }
      }
      a {
        &:hover{
          &::before {
            background-color: $secondary;
          }
        }
      }
    }

    td {
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      color: $black;
      cursor: pointer;
    }

    .status {
      font-size: 11px;
      font-weight: 500;
      color: $white;
      padding: 3px 10px;
      border-radius: 40px;
      min-width: unset;
    }

    .pending {
      background-color: #1A73E8;
    }

    .approved {
      background-color: #188038;
    }

    .cancel {
      background-color: #D93025;
    }

    .action_btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      padding: 0 12px;
      padding-right: 0;
      height: 100%;
      display: none;
      z-index: 99;

      a {
        position: relative;
        z-index: 9;
        margin-left: 5px;

        &::before {
          height: 33px;
          width: 33px;
          background-color: transparent;
          border-radius: 50%;
          position: absolute;
          top: -7px;
          left: 7px;
          content: "";
          z-index: -1;
        }
      }

      .icon {
        width: 18px !important;
        height: 18px !important;
        color: $black;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width:1799.98px) {
  .pagination_action .top_pagination .pagination p {
    font-size: 13px;
  }

  .pagination_action .top_pagination {
    gap: 14px !important;
  }

  .pagination_action .top_pagination .show_item {
    gap: 14px !important;
    margin-left: 8px !important;
  }

  .pagination_action .top_pagination .show_item .form-select {
    padding: 0 10px !important;
    width: 60px !important;
    font-size: 13px;
  }

  .pagination_action .top_pagination .show_item .sh {
    font-size: 13px;
  }

  .pagination_action .top_pagination .prev_next_btn .btns {
    margin: 0 7px;

    svg {
      width: 18px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .pagination_action .print_action .p_btn {
    margin-left: 1px;
  }
}