.footer_area {
  margin-top: auto;
  padding: 30px 0;
  padding-bottom: 0;

  p {
    @include font(15px, 500);
    line-height: 22px;

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// responsive css
@media (max-width:1399.98px) {
  .footer_area p {
    font-size: 14px;
  }
}
@media (max-width:575.98px) {
  .footer_area p {
    font-size: 13px;
    line-height: 18px;
  }
}