.header_area {
  padding-bottom: 10px;

  .header_left {
    .sidebar_control_bar {
      .sidebar_control_btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;

        &:hover {
          background-color: #EAF1FB;
        }
      }
    }

    // .header_search {
    //   max-width: 600px;

    //   .input_groups {
    //     input {
    //       height: 46px;
    //       background-color: #EAF1FB;
    //       border: 1px solid transparent;
    //       transition: $transition;
    //       padding: 0 24px;
    //       padding-left: 55px;

    //       &:focus {
    //         border-color: $black;
    //       }
    //     }

    //     button {
    //       left: 18px;
    //       color: #858585;
    //     }
    //   }
    // }
  }

  .header_right {
    .date_time {
      padding-right: 24px;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        content: "";
        width: 1px;
        height: 20px;
        background-color: #BDBDBD;
      }

      p {
        @include font(16px, 600);
        color: $black;
      }
    }

    .action_info {
      .icon_box {
        .icon_btn {
          color: #4F4F4F;

          svg {
            width: 22px;
            height: 22px;
            ;
          }

          .notification_number {
            width: 19px;
            height: 19px;
            background-color: $primary;
            top: -10px;
            right: -7px;
            color: $white;
            @include font(11px, 700);
          }
        }
      }

      .user_box {
        .user_image {
          width: 36px;
          height: 36px;
          overflow: hidden;

          img {
            object-position: center;
          }
        }
      }
    }
  }
}

// responsive css
@media (max-width:1399.98px) {
  .header_area .header_right .date_time p {
    font-size: 14px;
  }

  .header_area .header_right .action_info .icon_box .icon_btn svg {
    width: 20px;
    height: 20px;
  }

  .header_area .header_right .action_info .icon_box .icon_btn .notification_number {
    width: 16px;
    height: 16px;
    top: -9px;
    right: -5px;
    font-size: 10px;
  }
}

@media (max-width:991.98px) {

  .header_area {
    .logo2 {
      a {
        display: none !important;
      }
    }
  }

  .header_area .header_right .date_time {
    display: none;
  }
}